name: "Run tests on NodeJS"

on:
  push:
    paths:
      - ".github/**"
      - "tests/**"
      - "index.ts"
      - "package.json"
      - "pnpm-lock.yaml"
  pull_request:
    paths:
      - ".github/**"
      - "tests/**"
      - "index.ts"
      - "package.json"
      - "pnpm-lock.yaml"
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ["20", "22"]
        vite-version: ["vite@5", "vite@6", "vite@7"]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Enable Corepack
        run: |
          npm install --global corepack@latest
          corepack enable

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile --strict-peer-dependencies
          pnpm install ${{ matrix.vite-version }}

      - name: Lint Source
        run: pnpm exec biome ci

      - name: Build Source
        run: pnpm run --if-present build

      - name: Run Tests
        run: pnpm run --if-present test
